@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;600;700;800&display=swap');


:root{
    --C6CACA: #f5f5f5;
    --D2D6D6: #ffffff;
    --878A8A: #878A8A;
    --3b3b3b: #3b3b3b;
    --464646: #5e5e5e;
    --1FCB1B: #199617;
    --17a015: #17a015;
    --FF9900: #FF9900;
}


body{
    background: rgb(54, 54, 54);
    padding: 0;
    margin: 0 auto;
    filter: drop-shadow(-29px 16px 69px #878a8a91);

}


.title {
    font-family: 'Poppins';
    color: var(--C6CACA);
}

.text{
    font-family: 'Inter';
    color: var(--D2D6D6);
}

.accent-color{
    color: var(--FF9900);
} 



/*início cabeçalho*/

.main-menu{
    width: 100%;
    height: 100px;
    background-color: var(--3b3b3b);
    border-bottom: 1px solid #101726;
    display: flex;
    justify-content: center;
    border: none;
}
.container-header{
    width: 100vw;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu .container-header #logo{
    cursor: pointer;
    padding: 0 0 0 32px;
}

.main-menu .container-header #logo-mobile{
    display: none;
}


.main-menu nav .menu{
    display: flex;
    gap: 2rem;
    color: var(--D2D6D6);
    list-style: none;
    align-items: center;
}

.main-menu nav .menu li{
    font-size: 1.3rem;
    font-family: 'Poppins';
    font-weight: 400;
}

.main-menu nav .menu li a{
    text-decoration: none;
    color: var(--D2D6D6);
}

.main-menu nav .menu li a:hover{
    color: var(--FF9900);
}

.btn-link{
    text-decoration: none;
}
.btn-cta{
    background:  var(--1FCB1B);
    width: 250px;
    height: 55px;
    text-shadow: 1px 1px rgb(124, 124, 124);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--D2D6D6);
    margin-right: 10px;
}

.btn-cta:hover{
    background: var(--17a015);
    transition: .1s;
}

.button-menu-mobile{
    display: none;
}

.btn-cta.btn-cta-hero.btn-cta-right{
    width: 200px;
    background: transparent;
    border: 2px solid #1FCB1B;
}

.hamburguer{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    position: relative;
    cursor: pointer;
    display: none;
}


.hamburguer::after{
    content: "";
    position: absolute;
    top: 35%;
    left: 15%;
    width: 70%;
    height: 5%;
    border-radius: 5px;
    background-color: #ffffff;
}

.hamburguer::before{
    content: "";
    position: absolute;
    top: 55%;
    left: 15%;
    width: 70%;
    height: 5%;
    border-radius: 5px;
    background-color: #ffffff;
}

/*fim cabeçalho*/

/*início hero*/

#section1{
    display: flex;
    justify-content: center;
    background: #333333;
}


.hero{
    width: 90vw;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('imagens/chave-background.png');
    background-repeat: no-repeat;}

.wrapper-text-hero{
    width: 700px;
}

.title-hero{
    line-height: 4rem;
}

.title-hero-title{
    font-size: 3rem;
}

.text-hero{
    font-size: 1.3rem;
    color: #a3a3a3;
}

.accent-color-hero{
    font-weight: 600;
}

.wrapper-btn-cta-hero{
    width: 400px;
    display: flex;
    gap: 1rem;
    padding: 20px 0 0 0;
}

.btn-cta-hero{
    width: 290px;
    font-size: 1rem;
}

.description-contact{
    font-size: 1.3rem;
}

.contrast-font{
    font-weight: 500;
    color: var(--color-principal-orange)
}

.card-hero{
    padding: 3rem 0 0 0 ;
    display: flex;
    width: 100%;
    height: 180px;
    gap: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 28%;
  
  
    padding: .5rem;
    line-height: 1.4rem;
}

.title-card-hero{
    font-family: 'Poppins';
    color: #f0b000;
}
.description-card-hero{
    text-align: flex-start;
    font-size: 1.1rem;
    color: #b1b1b1;
    font-family: 'Inter';
    font-weight: 500;
}


/*inicio section2*/

#section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.title-section2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.title-section2 .title-cards{
    font-size: 2rem;
    color: #ffffff;
    font-family: 'Poppins';
}

.wrapper-card-section2{
    width: 800px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333333;
    border-radius: 20px;
    border: 2px solid #474747;
    box-shadow: 6px 3px 8px 1px #353535;
    
}

.card-section2{
    display: flex;
    align-items: center;
    width: 80%;
    gap: 2rem;
    align-items: center;
}

.number-card{
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-size: 5rem;
    font-weight: 600;
    color: var(--D2D6D6);
}


.line{
    margin-left: 20px;
    margin-top: 20px;
    width: 5px;
    height: 60px;
    background: #202020;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


.text-card{
    display: flex;
    flex-direction: column;
}


.title-card{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.7rem;
    color: var(--D2D6D6);
    line-height: 1.5rem;
}

.description-card{
    font-family: 'Inter';
    font-weight: 400;
    color: #a3a3a3;
    font-size: 1.4rem;
}

.btn-cta-section2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 60px;
    background-color: #1FCB1B;
    border-radius: 20px;
    border: none;
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: white;
    font-weight: 600;
}

.btn-cta-section2:hover{
    background: #17a015;
}

.title-end-section2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 200px;
    border-width: 3px 0px;
    border-style: solid;
    border-color: #FF9900;
    margin-bottom: 40px;
}

.title-end{
    font-family: 'Poppins';
    font-size: 1.8rem;
    text-align: center;
    color: white;
}

/*section3*/

.container-section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333333;
    padding: 5rem 0 5rem 0;
}

.wrapper-container3{
    width: 800px;
    background: #2c2c2c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 20px;

}

.title3{
    font-family: 'Poppins';
    font-size: 1.8rem;
    font-weight: 600;
    color: #d3d3d3;
}

.subtitle-section3{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.description-subtitle3{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1.8rem;
    color: #e4e4e4;
}

.card-box{
    width: 300px;
    height: 220px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    
}

.cards-section3{
    display: flex;
    gap: 2rem;
    padding: 10px 0 0 0;
}

.box-section3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    background: rgb(97, 97, 97);
    border-radius: 10px;
}

.text-boxsection{
    font-family: 'Poppins';
    font-size: 1.5rem;
    color: white;
}

.card-rating{
    max-width: 100%;
    height: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding: 4rem 0 0 0;
    border-radius: 20px;
}

.title-rating{
    height: 100px;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 1rem;
}

.boxcard-rating{
    box-shadow: 10px 4px 4px rgba(64, 64, 64, 0.2);
    background-image: radial-gradient(circle at 50% -20.71%, #5e7c8d 0, #5b7784 8.33%, #5a727a 16.67%, #596b70 25%, #586466 33.33%, #575c5c 41.67%, #555353 50%, #534a4b 58.33%, #504245 66.67%, #4e3b40 75%, #4a343d 83.33%, #462f3c 91.67%, #422a3b 100%);    height: 290px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    width: 40%;
    height: 400px;
}

.aspas-card-1{
    height: 20px;
    display: flex;
    justify-content: flex-start;
}

.aspas-card-2{
    height: 20px;
    display: flex;
    justify-content: flex-end;
}

.aspas{
    width: 80px;
    height: 80px;
}



.boxcard-rating .name-author{
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 600;
    color: #FF9900;
    text-align: center;
}

.boxcard-rating .comment-author{
    font-family: 'Inter';
    font-size: 1rem;
    color: #cacaca;
    font-style: italic;
    margin-left: 24px;
    text-align: center;
}

.boxcard-rating .accent-text-boxcard{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
}

.boxcard-rating .star-comment{
    display: flex;
    justify-content: center;
}


.link-google-comment{
    color: rgb(196, 196, 196);
    font-size: .7rem;
    font-family: 'Inter';
    
}

.btn-cta-3{
    width: 450px;
}

/*section4*/

.container4{
display: flex;
justify-content: center;
align-items: center;
padding: 2rem;
}

.wrapper4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
}





























@media screen and (max-width: 900px) {

    body{
        padding: 0;
    }
/*menu - menu hamburguer*/

    .main-menu{
        width: 100%;
        max-width: 500px;
        margin: 0;
    }

    .main-menu .container-header #logo{
        display: none;
    }

    .main-menu .container-header #logo-mobile{
        display: block;
    }

    .hamburguer{
        display: block;
        z-index: 999;
        transition: .5s ease;
    }
    .menu{
        position: fixed; 
        top: 0;
        right: 0;
        height: 100vh;
        margin: 0;
        background-color: #222;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        padding: 100px 20px;
        transition: .5s ease;
    }

    .menu.active{
        right: 0;
    }


    .btn-cta{
        width: 220px;
        font-size: 1rem;
    }

    /*final do header*/

    .hero{
        margin-top: 20px;
        max-width: 400px;
        flex-direction: column;
     }

    #section1{
        max-width: 400px;
        height: 1300px;
    }

    .wrapper-text-hero{
        width: 400px;
        max-width: 400px;
        height: 500px;
        text-align: center;
    }

    .wrapper-btn-cta-hero{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: .5rem;
    }

    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        font-size: 2.3rem;
    }
    .btn-cta-hero{
        margin-top: 20px;
        width: 320px;   
        height: 60px;
        font-size: 1rem;
        text-align: center;
        justify-content: center;
        
    }

    .description-btn-contact{
        padding: 5px;
        margin-top: 32px;
        width: 400px;
        text-align: center;
    }

    .text.description-contact{
        font-size: 1.1rem;
        color: #a3a3a3;
        font-weight: 500;   
        line-height: 1.4rem;     
    }

    .box2 .wrapper-img-hero{
        display: none;
    }

    .card-hero{
        display: flex;        
        flex-direction: column;
        height: 450px;
        justify-content: center;
        align-items: center;
    }

    .card{
        width: 350px;
    }

    /*section2*/

    
    .title-section2{
      text-align: center;
    }
    .title-section2 .title-cards{
        font-size: 1.5rem;
    }
    .container-section2{
        height: 1600px;
    }

    .wrapper-card-section2{
        padding: 10px 0 0 10px;
        width: 350px;
        height: 1100px;
    }

    .line{
        height: 100px;
    }

    .card-4{
        height: 100px;
    }

    .number-card-section2{
        font-size: 4rem;
    }

    .number-card{
        height: 200px;
    }

    .number-card.number-card-4{
        height: 70px;
    }

    .title-card{
        font-size: 1.4rem;
    }

    .btn-cta-section2{
        width: 320px;
        font-size: 1.2rem;
    }

    .title-end-section2{
        width: 350px;
        height: 200px;
        border: 4px 0 solid orange;
    }

    .title-end-section2 .title-end{
        font-size: 1.5rem;
    }


    #section3{
        height: 2600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wrapper-container3{
        max-width: 400px;
        height: 2450px;
        padding: 0;
    }

    .title-section3{
        margin-top: 24px;
    }

    .cards-section3{
        max-width: 400px;
    }
    .text-boxsection{
        font-size: 1rem;
        font-weight: 600;
    }


    .title-rating{
        padding: 1rem;
        height: 250px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        background: rgb(38,38,38);
        background: linear-gradient(180deg, rgba(38,38,38,1) 9%, rgba(70,70,70,1) 50%, rgba(80,80,80,1) 64%);
        border-radius: 30px;
    }
    .title-rating .title3{
        text-align: center;
        font-size: 1.5rem;

    }

    .boxcard-rating{
        height: 320px;
    }

    .name-author{
        font-size: 1rem;
    }

    .comment-author{
        font-size: 1.4rem;
    }


}

@media screen and (max-width: 380px){

    .hero{
        width: 380px;
        background: blue;
    }

    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 380px;
        font-size: 1.6rem;
    }

    .wrapper-container3{
        max-width: 380px;
    }
}
