@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;600;700;800&display=swap');


:root{
    --C6CACA: #f5f5f5;
    --D2D6D6: #ffffff;
    --878A8A: #878A8A;
    --3b3b3b: #3b3b3b;
    --464646: #5e5e5e;
    --1FCB1B: #1FCB1B;
    --17a015: #17a015;
    --FF9900: #FF9900;
}


body{
    background: rgb(54, 54, 54);
    padding: 2rem;
    margin: 0 auto;
    filter: drop-shadow(-29px 16px 69px #878A8A);

}


.title {
    font-family: 'Poppins';
    color: var(--C6CACA);
}

.text{
    font-family: 'Inter';
    color: var(--D2D6D6);
}

.accent-color{
    color: var(--FF9900);
} 



/*início cabeçalho*/

.main-menu{
    width: 100%;
    height: 100px;
    background-color: var(--3b3b3b);
    border-bottom: 1px solid #101726;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border: none;
}
.container-header{
    padding: 2rem;
    width: 100vw;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu .container-header #logo{
    cursor: pointer;
    padding: 0 0 0 32px;
}

.main-menu .container-header #logo-mobile{
    display: none;
}

.main-menu .container-header #logo #logo-mobile{
    display: none;
}


.main-menu nav .menu{
    display: flex;
    gap: 2rem;
    color: var(--D2D6D6);
    list-style: none;
    align-items: center;
}

.main-menu nav .menu li{
    font-size: 1.3rem;
    font-family: 'Poppins';
    font-weight: 400;
}

.main-menu nav .menu li a{
    text-decoration: none;
    color: var(--D2D6D6);
}

.main-menu nav .menu li a:hover{
    color: var(--FF9900);
}

.btn-link{
    text-decoration: none;
}
.btn-cta{
    background:  var(--1FCB1B);
    width: 280px;
    height: 55px;
    text-shadow: 1px 1px rgb(124, 124, 124);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--D2D6D6);
}

.btn-cta:hover{
    background: var(--17a015);
    transition: .1s;
}

.button-menu-mobile{
    display: none;
}

.btn-cta.btn-cta-hero.btn-cta-right{
    width: 200px;
    background: transparent;
    border: 2px solid #1FCB1B;
}

.hamburguer{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    position: relative;
    cursor: pointer;
    display: none;
}


.hamburguer::after{
    content: "";
    position: absolute;
    top: 35%;
    left: 15%;
    width: 70%;
    height: 5%;
    border-radius: 5px;
    background-color: #ffffff;
}

.hamburguer::before{
    content: "";
    position: absolute;
    top: 55%;
    left: 15%;
    width: 70%;
    height: 5%;
    border-radius: 5px;
    background-color: #ffffff;
}

/*fim cabeçalho*/

/*início hero*/

#section1{
    display: flex;
    justify-content: center;
    height: 800px;
}


.hero{
    width: 90vw;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-text-hero{
    width: 700px;
}

.title-hero{
    line-height: 4rem;
}

.title-hero-title{
    font-size: 3rem;
}

.text-hero{
    font-size: 1.3rem;
    color: #a3a3a3;
}

.accent-color-hero{
    font-weight: 600;
}

.wrapper-btn-cta-hero{
    width: 400px;
    display: flex;
    gap: 1rem;
    padding: 20px 0 0 0;
}

.btn-cta-hero{
    width: 300px;
    font-size: 1rem;
}

.description-contact{
    font-size: 1.3rem;
}

.contrast-font{
    font-weight: 500;
    color: var(--color-principal-orange)
}

.card-hero{
    padding: 3rem 0 0 0 ;
    display: flex;
    width: 100%;
    height: 180px;
    gap: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    background: transparent;
    border-radius: 10px;
    box-sizing: border-box;
    padding: .5rem;
    line-height: 1.4rem;
    box-shadow: 5px 4px 10px 2px rgba(0, 0, 0, 0.15);
}

.title-card-hero{
    font-family: 'Poppins';
    color: #f0b000;
}
.description-card-hero{
    text-align: center;
    font-size: 1.1rem;
    color: #b1b1b1;
    font-family: 'Inter';
    font-weight: 500;
}

.card:hover{
    background: #FF9900;

}

/*inicio section2*/

#section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1300px;
}

.container-section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.title-section2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.title-section2 .title-cards{
    font-size: 2rem;
    color: #ffffff;
    font-family: 'Poppins';
}

.wrapper-card-section2{
    width: 800px;
    display: flex;
    height: 800px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background: #505050;
    border-radius: 20px;
    border: 2px solid #474747;
    box-shadow: 6px 3px 8px 1px #353535;
}

.card-section2{
    display: flex;
    align-items: center;
    width: 80%;
    height: 230px;
    gap: 2rem;
    align-items: center;
}

.number-card{
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-size: 5rem;
    font-weight: 600;
    color: var(--D2D6D6);
}


.line{
    margin-left: 20px;
    margin-top: 20px;
    width: 5px;
    height: 60px;
    background: #FF9900;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


.text-card{
    display: flex;
    flex-direction: column;
}


.title-card{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.7rem;
    color: var(--D2D6D6);
    line-height: 1.5rem;
}

.description-card{
    font-family: 'Inter';
    font-weight: 400;
    color: #a3a3a3;
    font-size: 1.4rem;
}

.btn-cta-section2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 70px;
    background-color: #1FCB1B;
    border-radius: 20px;
    border: none;
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: white;
    font-weight: 600;
}

.btn-cta-section2:hover{
    background: #17a015;
}

.title-end-section2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 200px;
    border-width: 3px 0px;
    border-style: solid;
    border-color: #FF9900;
    margin-top: 24px;
}

.title-end{
    font-family: 'Poppins';
    font-size: 1.8rem;
    text-align: center;
    color: white;
}

/*section3*/

.container-section3{
    height: 2200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-container3{
    width: 800px;
    height: 2000px;
    background: #505050;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 20px;

}

.title3{
    font-family: 'Poppins';
    font-size: 1.8rem;
    font-weight: 600;
    color: #d3d3d3;
}

.subtitle-section3{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.description-subtitle3{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1.8rem;
    color: #e4e4e4;
}

.card-box{
    width: 300px;
    height: 220px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    
}

.cards-section3{
    display: flex;
    gap: 2rem;
    padding: 10px 0 0 0;
}

.box-section3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    background: #2A2A2A;
    border-radius: 10px;
}

.text-boxsection{
    font-family: 'Poppins';
    font-size: 1.5rem;
    color: white;
}

.card-rating{
    width: 80%;
    height: 1800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem 0 0 0;
}

.title-rating{
    height: 100px;
    padding: 30px 0 0 0;
}

.boxcard-rating{
    background: #2A2A2A;
    width: 90%;
    height: 230px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}



.boxcard-rating .name-author{
    font-family: 'Poppins';
    font-size: 1.6rem;
    font-weight: 600;
    color: #FF4D00;
    text-align: center;
}

.boxcard-rating .comment-author{
    font-family: 'Inter';
    font-size: 1.2rem;
    color: #F0F0F0;
    font-style: italic;
    margin-left: 24px;
    text-align: center;
}















@media screen and (max-width: 900px) {

    body{
        padding: 0;
    }
/*menu - menu hamburguer*/

    .main-menu{
        width: 100%;
        max-width: 500px;
        margin: 0;
    }

    .main-menu .container-header #logo{
        display: none;
    }

    .main-menu .container-header #logo-mobile{
        display: block;
    }

    .hamburguer{
        display: block;
        z-index: 999;
        transition: .5s ease;
    }
    .menu{
        position: fixed; 
        top: 0;
        right: 0;
        height: 100vh;
        margin: 0;
        background-color: #222;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        padding: 100px 20px;
        transition: .5s ease;
    }

    .menu.active{
        right: 0;
    }


    .btn-cta{
        width: 220px;
        font-size: 1rem;
    }

    /*final do header*/

    .hero{
        margin-top: 20px;
        width: 400px;
        flex-direction: column;
     }

    #section1{
        margin-top: 60px;
        width: 100%;
        max-width: 500px;
        height: 1400px;
    }

    .wrapper-text-hero{
        width: 400px;
        max-width: 400px;
        height: 500px;
        text-align: center;
    }

    .wrapper-btn-cta-hero{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: .5rem;
    }

    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        font-size: 2.3rem;
    }
    .btn-cta-hero{
        margin-top: 20px;
        width: 320px;   
        height: 60px;
        font-size: 1rem;
        text-align: center;
        justify-content: center;
        
    }

    .description-btn-contact{
        padding: 5px;
        margin-top: 32px;
        width: 400px;
        text-align: center;
    }

    .text.description-contact{
        font-size: 1.1rem;
        color: #a3a3a3;
        font-weight: 500;   
        line-height: 1.4rem;     
    }

    .box2 .wrapper-img-hero{
        display: none;
    }

    .card-hero{
        display: flex;        
        flex-direction: column;
        height: 450px;
        justify-content: center;
        align-items: center;
    }

    .card{
        width: 350px;
    }

    /*section2*/

    
    .title-section2{
      text-align: center;
    }
    .title-section2 .title-cards{
        font-size: 1.5rem;
    }


    .wrapper-card-section2{
        padding: 10px 0 0 10px;
        width: 350px;
        height: 1100px;
    }

    .line{
        height: 100px;
    }

    .card-4{
        height: 100px;
    }

    .number-card-section2{
        font-size: 4rem;
    }

    .number-card{
        height: 200px;
    }

    .number-card.number-card-4{
        height: 70px;
    }

    .title-card{
        font-size: 1.4rem;
    }

    .btn-cta-section2{
        width: 320px;
        font-size: 1.2rem;
    }

    .title-end-section2{
        width: 350px;
        height: 200px;
        border: 4px 0 solid orange;
    }

    .title-end-section2 .title-end{
        font-size: 1.5rem;
    }



}

@media screen and (max-width: 380px){
    .hero{
        width: 380px;
        background: blue;
    }

    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 380px;
        font-size: 1.6rem;
    }
}
